
.tituloGeneral {
    font-size: 35px;
    color: #5A6273;
    text-align: left;
}

.mainAboutMe {
    display: flex;
    justify-content: center;
    
}

.boxAboutMe {
    margin-top: 30px;
    margin-bottom: 30px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   row-gap: 10px;
   column-gap: 10px;
   width: 800px;
   @media (max-width:576px){
    width: 300px;
   }
}

.boxAboutMe01 {
    width: 700px;
    padding: 10px;
    
}
.boxAboutMe02 {
    width: 700px;
}

.boxAboutMe03 {
    width: 350px;
}

.boxAboutMe04 {
    width: 350px;
    }

.boxAboutMe05 {
    width: 700px;
    }

.boxAboutMe06 {
    width: 350px;
    }

.boxAboutMe07 {
    width: 350px;
    }
  
.boxAboutMe08 {
    display: flex;
    align-items: center;
    width: 700px;
    ;}
    
