
.mainAboutMe {
    display: flex;
    justify-content: center;
    
}

.boxAboutMe {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
   row-gap: 10px;
   column-gap: 10px;
   width: 700px;
   @media (max-width:576px){
    width: 300px;
   }
}

.boxAboutMe01 {
    width: 600px;
    background-color: blue($color: #000000);
    color:white;
    padding: 10px;
    
}
.boxAboutMe02 {
    width: 300px;
    background-color: red($color: #e71d1d);
    color:white;
    padding: 10px;}

.boxAboutMe03 {
    width: 300;
    background-color: red($color: #e71d1d);
    color:white;
    padding: 10px;}

.boxAboutMe04 {
    width: 300px;
    background-color: red($color: #e71d1d);
    color:white;
    padding: 10px;}

.boxAboutMe05 {
    width: 300px;
    background-color: red($color: #e71d1d);
    color:white;
    padding: 10px;}

.boxAboutMe06 {
    width: 300px;
    background-color: red($color: #e71d1d);
    color:white;
    padding: 10px;}

.boxAboutMe07 {
    width: 300px;
    background-color: red($color: #e71d1d);
    color:white;
    padding: 10px;}
  
.boxAboutMe08 {
    width: 600px;
    background-color: red($color: #e71d1d);
    color:white;
    padding: 10px;}
    
