.formulario{
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.10);
    color: #5A6273;
    padding: 30px;
    display: grid;
    max-width: 800px;
    margin: 10px auto;
    border-radius: 10px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 40px 1fr 1fr 1fr 2fr 60px;
    grid-template-areas:  "titulo titulo"
                          "texto texto"
                          "nameandsurname  email" 
                          "subjet  subjet"   
                          "message message"
                            "btn   btn";
                            @media (max-width: 840px) { 
                              grid-template-columns: 1fr;
                              grid-template-rows: 40px 1fr 1fr 1fr 1fr 2fr 60px;
                              grid-template-areas:  "titulo"
                                                    "texto"
                                                    "nameandsurname"
                                                    "email" 
                                                    "subjet"   
                                                    "message"
                                                      "btn";
                              
                            }
             label {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 0px 10px;

                    input, textarea{
                      background-color: transparent;
                      border: 2px solid #B0C9D9;
                      border-radius: 10px;
                      outline: none;
                    }
                    textarea {
                      height: 200px;}
                    input {
                      height: 50px;

                    }

                  }
                  
        
}

.formulario h3:nth-child(1){
  grid-area: titulo;
  font-size: 30px;
  margin: 10px;
}

.formulario h4:nth-child(2){
  grid-area: texto;
  font-size: 20px;
  margin: 10px;
}

.formulario label:nth-child(3){
  grid-area: nameandsurname;
}
.formulario label:nth-child(4){
  grid-area: email;
}
.formulario label:nth-child(5){
  grid-area: subjet;
}
.formulario label:nth-child(6){
  grid-area: message;
}
.formulario button:nth-child(7){
  grid-area: btn;
  background-color: #B0C9D9;
  border-radius: 5px;
  border: 0px;
  color: #5A6273;
  font-size: 15px;
  margin: 10px;
  margin-top: 20px;
  
}


