* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Serif NP Hmong", serif;
  background-color: #cdd9e1;
}

.menu_contact {
  margin: 50px 0px;
}

.navegador {
  background-color: #5A6273;
  position: relative;
  z-index: 1;
  height: 70px;
  width: 100%;
}
.navegador .fa-bars {
  display: none;
}
@media (max-width: 576px) {
  .navegador .fa-bars {
    display: block;
    color: white;
    font-size: 30px;
    padding: 20px;
  }
  .navegador .fa-bars:hover + ul {
    left: 0;
  }
}
.navegador ul {
  display: flex;
  list-style-type: none;
  justify-content: end;
}
@media (max-width: 576px) {
  .navegador ul {
    position: absolute;
    flex-direction: column;
    background-color: #5A6273;
    width: 150px;
    height: 280px;
    left: -300px;
    transition: 0.2s;
    justify-content: center;
    align-items: initial;
  }
  .navegador ul:hover {
    left: 0;
  }
}
.navegador ul li {
  display: inline-block;
}
.navegador ul a {
  display: block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px 20px;
  font-size: 20px;
}

footer {
  background-color: #8090A6;
  height: 70px;
  width: 100%;
}

.navfoot ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.navfoot ul li {
  display: inline-block;
}
.navfoot ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px 20px;
  font-size: 20px;
}
@media (max-width: 450px) {
  .navfoot ul li a {
    padding: 20px 10px;
  }
}

.tituloPrincipal {
  font-size: 35px;
  color: #5A6273;
  padding: 5px;
  text-align: left;
  font-style: italic;
}
@media (max-width: 820px) {
  .tituloPrincipal {
    font-size: 22px;
  }
}

p {
  font-size: 20px;
  line-height: 30px;
  color: #5A6273;
}

.boxindex {
  margin-bottom: 30px;
  display: grid;
  height: 500px;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-template-columns: 300px 500px;
  grid-template-rows: 100px 100px 100px;
  gap: 10px;
  grid-template-areas: "boxindex01 boxindex02" "boxindex01 boxindex03" "boxindex01 boxindex04";
}
@media (max-width: 820px) {
  .boxindex {
    height: auto;
    grid-template-columns: 300px;
    grid-template-rows: 300px 50px 200px 100px;
    grid-template-areas: "boxindex01" "boxindex02 " "boxindex03" "boxindex04";
    padding-top: 50px;
    gap: 10px;
  }
}

.boxindex01 {
  grid-area: boxindex01;
}

.boxindex02 {
  grid-area: boxindex02;
  align-self: end;
}

.boxindex03 {
  grid-area: boxindex03;
  align-self: start;
}

.boxindex04 {
  grid-area: boxindex04;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.fotoperfil {
  width: 300px;
}

.tituloGeneral {
  font-size: 35px;
  color: #5A6273;
  text-align: left;
}

.mainAboutMe {
  display: flex;
  justify-content: center;
}

.boxAboutMe {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
  width: 800px;
}
@media (max-width: 576px) {
  .boxAboutMe {
    width: 300px;
  }
}

.boxAboutMe01 {
  width: 700px;
  padding: 10px;
}

.boxAboutMe02 {
  width: 700px;
}

.boxAboutMe03 {
  width: 350px;
}

.boxAboutMe04 {
  width: 350px;
}

.boxAboutMe05 {
  width: 700px;
}

.boxAboutMe06 {
  width: 350px;
}

.boxAboutMe07 {
  width: 350px;
}

.boxAboutMe08 {
  display: flex;
  align-items: center;
  width: 700px;
}

.formulario {
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  color: #5A6273;
  padding: 30px;
  display: grid;
  max-width: 800px;
  margin: 10px auto;
  border-radius: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 1fr 1fr 1fr 2fr 60px;
  grid-template-areas: "titulo titulo" "texto texto" "nameandsurname  email" "subjet  subjet" "message message" "btn   btn";
}
@media (max-width: 840px) {
  .formulario {
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 1fr 1fr 1fr 2fr 60px;
    grid-template-areas: "titulo" "texto" "nameandsurname" "email" "subjet" "message" "btn";
  }
}
.formulario label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px;
}
.formulario label input, .formulario label textarea {
  background-color: transparent;
  border: 2px solid #B0C9D9;
  border-radius: 10px;
  outline: none;
}
.formulario label textarea {
  height: 200px;
}
.formulario label input {
  height: 50px;
}

.formulario h3:nth-child(1) {
  grid-area: titulo;
  font-size: 30px;
  margin: 10px;
}

.formulario h4:nth-child(2) {
  grid-area: texto;
  font-size: 20px;
  margin: 10px;
  color: #5A6273;
}

.formulario label:nth-child(3) {
  grid-area: nameandsurname;
}

.formulario label:nth-child(4) {
  grid-area: email;
}

.formulario label:nth-child(5) {
  grid-area: subjet;
}

.formulario label:nth-child(6) {
  grid-area: message;
}

.formulario button:nth-child(7) {
  grid-area: btn;
  background-color: #B0C9D9;
  border-radius: 5px;
  border: 0px;
  color: #5A6273;
  font-size: 15px;
  margin: 10px;
  margin-top: 20px;
}

.box_main {
  margin-top: 50px;
}

.titulo_Secundario {
  font-size: 35px;
  color: #5A6273;
}

.box_main01, .box_main02 {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 5px;
}

.box_main02 {
  margin-bottom: 50px;
}

.titulo_portfolio {
  padding: 30px 0px 20px 0px;
  text-align: center;
}

.Parrafo_portfolio {
  margin: 20px;
  padding: 5px 200px 50px 200px;
  text-align: center;
  font-size: 20px;
}

.BoxPortfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.EjemploPortfolio {
  width: 300px;
  padding: 5px;
  margin: 20px;
}
.EjemploPortfolio a {
  text-decoration: none;
}

.EjemploPortfolio__img {
  width: 100%;
}

.EjemploPortfolio__titulo {
  border-top: solid 3px #7B89A6;
  font-size: 20px;
  color: #4b68a4;
  padding: 5px;
  text-align: center;
}

.imagenes {
  transition: 1s;
}

.imagenes:hover {
  transform: scale(1.05);
}

.button_general {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 30px;
  border: none;
  margin: 10px;
  border-radius: 3px;
  background-color: #5A6273;
  text-decoration: none;
  color: #cdd9e1;
  text-align: center;
  font-size: 20px;
}

.fa-linkedin {
  font-size: 30px;
  color: #5A6273;
}/*# sourceMappingURL=style.css.map */